@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  background: #f8f1e7;
  background-attachment: fixed;
}

html.dark body {
  background: linear-gradient(to bottom, #1c1917 0%, #0c0a09 100%);
  background-attachment: fixed;
}

#root {
  min-height: 100vh;
}
